.header-name-nav{
    display: flex;
    justify-content: space-between;
}

/* .Judul-Nama{
    margin-left: 20px;
} */

/* .Pilihan-Navigasi{

} */

.Pilihan-Navigasi-Style{
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-size: 16px;
}

.Pilihan-Navigasi-Style:hover {
    background-color: #04AA6D;
    color: white;
}

main{
    display: flex;
    justify-content: center;
}

.profil-form-css{
    display: flex;
    justify-content: center;
}

.border-image{
    display: inline-block;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
}

.profil-name-work{
    text-align: center;
}

/* .Portfolio-form-css{
    
} */

.h1-1{
    text-align: center;
}

.modul-form-css{
    display: flex;
    flex-direction: row;
}

.HTML-css{
    /* background-color: orange; */
    display: inline-block;
    border: 1px solid orange;
    padding: 150px 320px;
}

.HTML-css:hover{
    background-color: orange;
}

.CSS-css{
    /* background-color: orange; */
    display: inline-block;
    border: 1px solid blue;
    padding: 150px 320px;
}

.CSS-css:hover{
    background-color: blue;
}

.image-fix-res{
    width: auto;
    height: 500px;
    margin-left: -25%;
}

@media(max-width:1400px){
    .modul-form-css{
        flex-direction: column;
    }
}

@media(max-width:720px){
    .header-name-nav{
        flex-direction: column;
    }
}