*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.body{
    background-color: #F5F7F8;
}

.header-form-css{
    width: 100%;
    height: 100vh;
}

.container h1{
    padding: 100px;
    font-size: 10vh;
    text-align: center;
}

.daftar-tools{
    display: flex;
    justify-content: space-around;
    padding: 20vh;
}

.slide-button{
    display: flex;
    justify-content: center;
}

.slide-button a{
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-size: 16px;
}

.slide-button a:hover {
    background-color: #04AA6D;
    color: white;
}

.icon{
    width: 150px;
    height: 150px;
}

.header-name-nav{
    display: flex;
    justify-content: space-between;
}

.Container-Judul{
    display: flex;
    justify-content: baseline;
}

.Container-Judul a{
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-size: 16px;
}

.Container-Judul a:hover {
    background-color: #04AA6D;
    color: white;
}

.Pilihan-Navigasi a{
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-size: 16px;
}

.Pilihan-Navigasi a:hover {
    background-color: #04AA6D;
    color: white;
}

/* ======================================================================= */

.profil-form-css{
    display: flex;
}

.profil{
    background: linear-gradient(45deg, #ce49ff, #7700ff);
    padding-top: 5vh;
    justify-items: center;
    border: 1px solid grey;
    width: 40%;
    height: 100vh;
}

.profil img{
    clip-path: circle(50%);
    width: 300px;
    height: 300px;
}

.profil-name-work{
    text-align: center;
}

.profil-name-work h1{
    color: white;
}

.profil-name-work strong{
    color: white;
}

.profil-name-work p{
    color: white;
    text-align: center;
    padding: 10px;
}

.journey{
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    padding: 10px;
}

.education h1{
    
    font-size: 5vh;
}

.education ul{
    padding-left: 20px;
}

.experience h1{
    font-size: 5vh;
}

.experience ul{
    padding-left: 20px;
}

.certificate h1{
    font-size: 5vh;
    text-align: center;
}

.certificate h2{
    padding-top: 20px;
}

.certificate ul{
    padding-left: 20px;
}

.certificate li{
    padding-top: 10px;
}

.frame-mywebsite{
    width: 100%;
    height: 100vh;
}

#project h1{
    font-size: 10vh;
    text-align: center;
    padding-top: 40vh;
}

.portfolio-html h2{
    text-align: center;
    padding: 20px;
}

.portfolio-html iframe{
    width: 100%;
    height: 160vh;
}

.frame-contact{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 1vh;
}

.frame-contact h1{
    font-size: 10vh;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 5vh;
}

.frame-contact h2{
    padding-bottom: 2vh;
}

.frame-contact li{
    text-align: center;
    padding-bottom: 4vh;
}

.frame-page{
    padding-bottom: 16vh;
}

/* Support Desktop --> Tablet */

@media(max-width:1800px){

    .image-fix-res{
        width: 620px;
        height: 620px;
    }

    .HTML-css{
        text-align: center;
        padding: 150px 200px;
    }
    
    .CSS-css{
        text-align: center;
        padding: 150px 200px;
    }
    
    .JS-css{
        text-align: center;
        padding: 150px 200px;
    }
}

@media(max-width:1400px){

    .image-fix-res{
        width: 520px;
        height: 520px;
    }

    .card-portfolio{
        padding: 50px;
    }

    .HTML-css{
        text-align: center;
        padding: 50px 90px;
    }
    
    .CSS-css{
        text-align: center;
        padding: 50px 100px;
    }
    
    .JS-css{
        text-align: center;
        padding: 50px 100px;
    }
}

@media(max-width:750px){
    .header-name-nav{
        flex-direction: column;
        align-items: center;
    }

    .image-fix-res{
        width: 400px;
        height: 400px;
    }

    .card-portfolio{
        padding: 25px;
    }

    .HTML-css{
        text-align: center;
        padding: 25px 40px;
    }
    
    .CSS-css{
        text-align: center;
        padding: 25px 50px;
    }
    
    .JS-css{
        text-align: center;
        padding: 25px 50px;
    }
}

/* Support Desktop --> Tablet */
/* Support Mobile Smartphone */

@media(max-width:426px){

    .header-name-nav{
        flex-direction: column;
    }

    .Judul-Nama{
        margin-left: unset;
    }

    .Pilihan-Navigasi{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .Pilihan-Navigasi-Style{
        padding: 20px 50px;
    }

    .image-fix-res{
        height: 250px;
        width: 250px;
    }
    .HTML-css{
        margin-inline: auto;
        padding: 60px 150px;
    }

    .CSS-css{
        margin-inline: auto;
        padding: 60px 165px;
    }
}

@media(max-width:321px){
    .HTML-css{
        padding: 60px 120px;
    }

    .CSS-css{
        padding: 60px 135px;
    }

    .border-image{
        margin-inline: 11%;
    }
}