*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.body{
    background-color: #F5F7F8;
}

.header-form-css{
    width: 100%;
    height: 100vh;
}

.container h1{
    padding: 100px;
    font-size: 10vh;
    text-align: center;
}

.daftar-tools{
    display: flex;
    justify-content: space-around;
    padding: 20vh;
}

.slide-button{
    display: flex;
    justify-content: center;
}

.slide-button a{
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-size: 16px;
}

.slide-button a:hover {
    background-color: #04AA6D;
    color: white;
}

.icon{
    width: 150px;
    height: 150px;
}

.header-name-nav{
    display: flex;
    justify-content: space-between;
}

.Container-Judul{
    display: flex;
    justify-content: baseline;
}

.Container-Judul a{
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-size: 16px;
}

.Container-Judul a:hover {
    background-color: #04AA6D;
    color: white;
}

.Pilihan-Navigasi a{
    color: black;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-size: 16px;
}

.Pilihan-Navigasi a:hover {
    background-color: #04AA6D;
    color: white;
}

/* ======================================================================= */

.profil-form-css{
    display: flex;
}

.profil{
    background: linear-gradient(45deg, #ce49ff, #7700ff);
    padding-top: 5vh;
    justify-items: center;
    border: 1px solid grey;
    width: 40%;
    height: 100vh;
}

.profil img{
    clip-path: circle(50%);
    width: 300px;
    height: 300px;
}

.profil-name-work{
    text-align: center;
}

.profil-name-work h1{
    color: white;
}

.profil-name-work strong{
    color: white;
}

.profil-name-work p{
    color: white;
    text-align: center;
    padding: 10px;
}

.profil-skill{
    padding-top: 10vh;
    color: white;
    width: 100%;
}

.profil .container{
    display: flex;
    justify-content: center;
    gap: 10vh;
    padding: 10px;
    text-align: center;
}

.profil p{
    padding-top: 10px;
}

.profil-skill h1{
    text-align: center;
    font-size: 5vh;
}

.profil-skill .icon{
    clip-path: none;
    width: 50px;
    height: 50px;
}

.journey{
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    padding: 10px;
}

.education h1{
    padding-bottom: 2vh;
    font-size: 5vh;
}

.education ul{
    padding-left: 20px;
}

.experience h1{
    font-size: 5vh;
    padding-bottom: 2vh;
}

.experience ul{
    padding-left: 20px;
}

.certificate h1{
    font-size: 5vh;
}

.certificate h2{
    padding-top: 20px;
}

.certificate ul{
    padding-left: 20px;
}

.certificate li{
    padding-top: 10px;
}

.frame-mywebsite{
    width: 100%;
    height: 100vh;
}

#project h1{
    font-size: 10vh;
    text-align: center;
    padding-top: 40vh;
}

.portfolio-html h2{
    text-align: center;
    padding: 20px;
}

.portfolio-html iframe{
    width: 100%;
    height: 160vh;
}

.frame-contact{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 1vh;
}

.frame-contact h1{
    font-size: 10vh;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 5vh;
}

.frame-contact h2{
    padding-bottom: 2vh;
}

.frame-contact li{
    text-align: center;
    padding-bottom: 5vh;
}

.frame-page{
    padding-bottom: 16vh;
}

/* Support Desktop --> Tablet */

@media(max-width:1700px){

    .daftar-tools{
        padding: 18vh;
    }

    .frame-page{
        padding-bottom: 15vh;
    }
}

@media(max-width:1400px){

    .container h1{
        font-size: 9vh;
    }
}

@media(max-width:1300px){
    .container h1{
        font-size: 8vh;
    }
}

@media(max-width:1200px){
    .container h1{
        font-size: 7vh;
    }

    .profil-skill{
        padding-top: 9vh;
    }
}

@media(max-width:1100px){
    .container h1{
        font-size: 6vh;
    }
}

@media(max-width:950px){
    .container h1{
        font-size: 5vh;
    }

    .journey{
        gap: 50px;
    }

    .education h1{
        font-size: 3vh;
    }

    .education h2{
        font-size: 15px;
    }

    .experience h1{
        font-size: 3vh;
    }

    .experience h2{
        font-size: 15px;
    }
}

@media(max-width:800px){
    .container h1{
        font-size: 4vh;
    }

    .journey{
        gap: 10px
    }

    .profil-skill{
        padding: 25px;
    }

    .profil-skill .container{
        gap: 9vh;
    }
    .profil-skill h1{
        font-size: 4vh;
    }
}

@media(max-width:700px){
    .header-name-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*============================*/
    .header-form-css{
        height: 103vh;
    }
    .container h1{
        padding: 20vh;
        padding-top: 27vh;
    }
    .daftar-tools{
        padding: 15vh;
    }

    .container h1{
        font-size: 3vh;
    }

    .icon{
        width: 100px;
        height: 100px;
    }

    /*==========================*/

    .profil{
        height: 102vh;
    }

    .profil .image-fix-res{
        width: 200px;
        height: 200px;
    }

    .profil-name-work p{
        font-size: 15px;
    }

    .profil-skill h1{
        padding: 5vh;
        padding-bottom: 3vh;
    }

    .profil-skill .container{
        gap: 5vh;
    }

    .journey{
        grid-template-columns: auto;
    }

    .education h1{
        font-size: 30px;
    }

    .education h2{
        font-size: 20px;
    }

    .education li{
        font-size: 15px;
    }

    .experience h1{
        font-size: 30px;
    }

    .experience h2{
        font-size: 20px;
    }

    .experience li{
        font-size: 15px;
    }

    .certificate h1{
        font-size: 30px;
    }

    /*==========================*/

    #project h1{
        font-size: 50px;
    }
}

/* Support Desktop --> Tablet */
/* Support Mobile Smartphone */

@media(max-width:500px){

    .container h1{
        font-size: 30px;
        padding: 10vh;
        padding-top: 30vh;
    }

    .daftar-tools{
        padding: 10vh;
        padding-bottom: 20vh;
    }
    
    .profil .image-fix-res{
        width: 150px;
        height: 150px;
    }

    .profil p{
        font-size: 10px;
    }

    .profil-skill h1{
        font-size: 30px;
        padding: 10px;
    }

    .profil-skill .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /*============================*/

    .frame-mywebsite h1{
        padding: 10px;
    }
}

@media(max-width:460px){
    .Pilihan-Navigasi{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 50px;
    }

    .container h1{
        padding: 70px;
        padding-top: 40vh;
    }

    .frame-page h1{
        font-size: 80px;
    }
}